# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/

# Environment files
.env
.env.local
*.env
*/.env
*/.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
powershell.cmd
*/powershell.cmd
